### Using GroupBy for Basic NFL Data Analysis

This is the notebook I used for the Bonus video of Part 2 of some basic analysis of NFL games.

You can find the YouTube Video here: 
https://www.youtube.com/watch?v=iaH3mMmPRs0

The goal is to learn and understand how Pandas' GroupBy works, while progressing on NFL Analysis.
The data file used is from his github repo: NFLscrapR
https://github.com/ryurko/nflscrapR-data/tree/master/games_data/regular_season

Ram Narasimhan

Questions? Twitter: @ramnarasimhan

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
base = "https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/games_data/regular_season/reg_games_"
year = 2018
coda = ".csv"
url = base + str(year) + coda

# All the Part 1 steps in one cell

In [4]:
df = pd.read_csv(url)

# There are some columns that we don't want. Let's drop those
drop_columns = ['type', 'state_of_game', 'game_url']

# axis = 1 is to tell Pandas to drop the columns.
# inplace = True drops them permanently
df.drop(columns=drop_columns, axis=1, inplace=True)

# We create two new columns in the data frame and store it. 
# This column can take negative values (if the home team lost) or positive values (if the home team won)
df['home_adv_score'] = df['home_score'] - df['away_score']

#THe following line creates a new column, with True/False values for whether the home team won
df['home_win'] = df['home_adv_score'] >= 0 
df['away_win'] = df['home_adv_score'] < 0

In [5]:
df #Our Data frame is now ready

,game_id,home_team,away_team,week,season,home_score,away_score,home_adv_score,home_win,away_win
0,2018090600,PHI,ATL,1,2018,18,12,6,True,False
1,2018090900,BAL,BUF,1,2018,47,3,44,True,False
2,2018090907,NYG,JAX,1,2018,15,20,-5,False,True
3,2018090906,NO,TB,1,2018,40,48,-8,False,True
4,2018090905,NE,HOU,1,2018,27,20,7,True,False
5,2018090904,MIN,SF,1,2018,24,16,8,True,False
6,2018090903,MIA,TEN,1,2018,27,20,7,True,False
7,2018090902,IND,CIN,1,2018,23,34,-11,False,True
8,2018090901,CLE,PIT,1,2018,21,21,0,True,False
9,2018090908,LAC,KC,1,2018,28,38,-10,False,True
10,2018090911,DEN,SEA,1,2018,27,24,3,True,False
11,2018090910,CAR,DAL,1,2018,16,8,8,True,False
12,2018090909,ARI,WAS,1,2018,6,24,-18,False,True
13,2018090912,GB,CHI,1,2018,24,23,1,True,False
14,2018091000,DET,NYJ,1,2018,17,48,-31,False,True
15,2018091001,OAK,LA,1,2018,13,33,-20,False,True
16,2018091300,CIN,BAL,2,2018,34,23,11,True,False
17,2018091600,ATL,CAR,2,2018,31,24,7,True,False
18,2018091608,WAS,IND,2,2018,9,21,-12,False,True
19,2018091607,TEN,HOU,2,2018,20,17,3,True,False
20,2018091606,TB,PHI,2,2018,27,21,6,True,False
21,2018091605,PIT,KC,2,2018,37,42,-5,False,True
22,2018091604,NYJ,MIA,2,2018,12,20,-8,False,True
23,2018091601,BUF,LAC,2,2018,20,31,-11,False,True
24,2018091602,GB,MIN,2,2018,29,29,0,True,False
25,2018091603,NO,CLE,2,2018,21,18,3,True,False
26,2018091610,SF,DET,2,2018,30,27,3,True,False
27,2018091609,LA,ARI,2,2018,34,0,34,True,False
28,2018091612,JAX,NE,2,2018,31,20,11,True,False
29,2018091611,DEN,OAK,2,2018,20,19,1,True,False
...,...,...,...,...,...,...,...,...,...,...
226,2018122305,CLE,CIN,16,2018,26,18,8,True,False
227,2018122306,DAL,TB,16,2018,27,20,7,True,False
228,2018122307,DET,MIN,16,2018,9,27,-18,False,True
229,2018122308,NE,BUF,16,2018,24,12,12,True,False
230,2018122309,NYJ,GB,16,2018,38,44,-6,False,True
231,2018122310,PHI,HOU,16,2018,32,30,2,True,False
232,2018122304,CAR,ATL,16,2018,10,24,-14,False,True
233,2018122300,IND,NYG,16,2018,28,27,1,True,False
234,2018122302,MIA,JAX,16,2018,7,17,-10,False,True
235,2018122311,ARI,LA,16,2018,9,31,-22,False,True
236,2018122312,SF,CHI,16,2018,9,14,-5,False,True
237,2018122313,NO,PIT,16,2018,31,28,3,True,False
238,2018122314,SEA,KC,16,2018,38,31,7,True,False
239,2018122400,OAK,DEN,16,2018,27,14,13,True,False
240,2018123001,BUF,MIA,17,2018,42,17,25,True,False
241,2018123010,TB,ATL,17,2018,32,34,-2,False,True
242,2018123008,NYG,DAL,17,2018,35,36,-1,False,True
243,2018123007,NO,CAR,17,2018,14,33,-19,False,True
244,2018123006,NE,NYJ,17,2018,38,3,35,True,False
245,2018123003,HOU,JAX,17,2018,20,3,17,True,False
246,2018123002,GB,DET,17,2018,0,31,-31,False,True
247,2018123012,WAS,PHI,17,2018,0,24,-24,False,True
248,2018123013,DEN,LAC,17,2018,9,23,-14,False,True
249,2018123004,KC,OAK,17,2018,35,3,32,True,False
250,2018123005,MIN,CHI,17,2018,10,24,-14,False,True
251,2018123000,BAL,CLE,17,2018,26,24,2,True,False
252,2018123014,LA,SF,17,2018,48,32,16,True,False
253,2018123009,PIT,CIN,17,2018,16,13,3,True,False
254,2018123015,SEA,ARI,17,2018,27,24,3,True,False
255,2018123011,TEN,IND,17,2018,17,33,-16,False,True

Goal: The aim for our analysis is to calculate the Win-Loss record for each of the 32 NFL teams.

We do this using GroupBy. To help the computation, we've created 2 new columns above, called `home_win` and `away_win.` Both these columns are Boolean columns, containing True or False

# Using GroupBy

Take a grouping columns (home_team) and a numeric column of interest (home_win) and sum them to get the total home of home wins for each team

In [11]:
df.groupby('home_team')['home_win'].sum().head()

home_team
ARI    1.0
ATL    4.0
BAL    6.0
BUF    4.0
CAR    5.0
Name: home_win, dtype: float64

In [14]:
# TO get the NUMBER of Games each team has played in its home field, use .size()
df.groupby('home_team')['home_win'].size().head()

home_team
ARI    8
ATL    8
BAL    8
BUF    8
CAR    8
Name: home_win, dtype: int64

Instead of doing this one by one for each calculation, we can put them all inside one `agg()` function.

In [15]:
df.groupby('home_team')['home_win'].agg(hp=len, hw=sum).head()

           hp   hw
home_team
ARI         8  1.0
ATL         8  4.0
BAL         8  6.0
BUF         8  4.0
CAR         8  5.0

### Calculating Number of Losses. (Writing our own function)

One easy way to calculate the home losses is to take #Home games and subtract the Home_wins from it.
It is a 1-line function. Notice that this function takes a whole group (called `g` here) and then we calculate the size() minus sum().

In [16]:
def num_losses(g):
    return g.size - g.sum()

df.groupby('home_team')['home_win'].agg(hp=len, hw=sum, hl = num_losses)
df.groupby('away_team')['away_win'].agg(ap=len, aw=sum, al = num_losses)

           ap   aw  al
away_team
ARI         8  2.0   6
ATL         8  3.0   5
BAL         8  4.0   4
BUF         8  2.0   6
CAR         8  2.0   6
CHI         8  5.0   3
CIN         8  2.0   6
CLE         8  2.0   6
DAL         8  3.0   5
DEN         8  3.0   5
DET         8  3.0   5
GB          8  1.0   7
HOU         8  5.0   3
IND         8  4.0   4
JAX         8  2.0   6
KC          8  5.0   3
LA          8  6.0   2
LAC         8  7.0   1
MIA         8  1.0   7
MIN         8  3.0   5
NE          8  3.0   5
NO          8  7.0   1
NYG         8  3.0   5
NYJ         8  2.0   6
OAK         8  1.0   7
PHI         8  4.0   4
PIT         8  4.0   4
SEA         8  4.0   4
SF          8  0.0   8
TB          8  1.0   7
TEN         8  3.0   5
WAS         8  4.0   4

### Putting it all together

Now that all our GroupBy calculations are done, let's store everything in a couple of useful data frames.

In [17]:
home_results = df.groupby('home_team')['home_win'].agg(hp=len, hw=sum, hl = num_losses)
away_results = df.groupby('away_team')['away_win'].agg(ap=len, aw=sum, al = num_losses)

In [19]:
print(home_results.head())
print(away_results.head())

           hp   hw  hl
home_team
ARI         8  1.0   7
ATL         8  4.0   4
BAL         8  6.0   2
BUF         8  4.0   4
CAR         8  5.0   3
           ap   aw  al
away_team
ARI         8  2.0   6
ATL         8  3.0   5
BAL         8  4.0   4
BUF         8  2.0   6
CAR         8  2.0   6

### Using `pd.merge()` to combine the two data frames into one wide data frame

In [36]:
team_results = pd.merge(home_results, away_results, left_index=True, right_index=True)

In [38]:
team_results.columns

Index(['hp', 'hw', 'hl', 'ap', 'aw', 'al'], dtype='object')

One final step is needed. We have home_wins `hw` and away_wins `aw`. Let's add them both to get the final result.

Two new columns:

In [39]:
team_results['Wins'] = team_results['hw'] + team_results['aw']
team_results['Losses'] = team_results['hl'] + team_results['al']

In [40]:
team_results

           hp   hw  hl  ap   aw  al  Wins  Losses
home_team
ARI         8  1.0   7   8  2.0   6   3.0      13
ATL         8  4.0   4   8  3.0   5   7.0       9
BAL         8  6.0   2   8  4.0   4  10.0       6
BUF         8  4.0   4   8  2.0   6   6.0      10
CAR         8  5.0   3   8  2.0   6   7.0       9
CHI         8  7.0   1   8  5.0   3  12.0       4
CIN         8  4.0   4   8  2.0   6   6.0      10
CLE         8  6.0   2   8  2.0   6   8.0       8
DAL         8  7.0   1   8  3.0   5  10.0       6
DEN         8  3.0   5   8  3.0   5   6.0      10
DET         8  3.0   5   8  3.0   5   6.0      10
GB          8  6.0   2   8  1.0   7   7.0       9
HOU         8  6.0   2   8  5.0   3  11.0       5
IND         8  6.0   2   8  4.0   4  10.0       6
JAX         8  3.0   5   8  2.0   6   5.0      11
KC          8  7.0   1   8  5.0   3  12.0       4
LA          8  7.0   1   8  6.0   2  13.0       3
LAC         8  5.0   3   8  7.0   1  12.0       4
MIA         8  6.0   2   8  1.0   7   7.0       9
MIN         8  5.0   3   8  3.0   5   8.0       8
NE          8  8.0   0   8  3.0   5  11.0       5
NO          8  6.0   2   8  7.0   1  13.0       3
NYG         8  2.0   6   8  3.0   5   5.0      11
NYJ         8  2.0   6   8  2.0   6   4.0      12
OAK         8  3.0   5   8  1.0   7   4.0      12
PHI         8  5.0   3   8  4.0   4   9.0       7
PIT         8  5.0   3   8  4.0   4   9.0       7
SEA         8  6.0   2   8  4.0   4  10.0       6
SF          8  4.0   4   8  0.0   8   4.0      12
TB          8  4.0   4   8  1.0   7   5.0      11
TEN         8  6.0   2   8  3.0   5   9.0       7
WAS         8  3.0   5   8  4.0   4   7.0       9

Our Goal is achieved. We now have Win-Loss record for each team for the 2018-19 NFL Season.